export(extractContent)
importFrom(XML, htmlTreeParse)
importFrom(XML, toString.XMLNode)
importFrom(XML, xmlChildren)
importFrom(XML, xmlValue)
export(extractHTMLStrip)
export(extractContentDOM)
importFrom(XML, addAttributes)
importFrom(XML, xmlApply)
importFrom(XML, xpathSApply)
export(removeTags)
importFrom(XML, getNodeSet)
importFrom(XML, removeNodes)
export(feedquery)
importFrom(RCurl, curlEscape)
export(getURLPart)
importFrom(RCurl, getURL)
export(readWebXML)
importFrom(XML, xmlTreeParse)
importFrom(XML, free)
export(readTwitter)
export(readGoogleFinance)
export(WebSource)
export(GoogleFinanceSource)
importFrom(XML, xmlInternalTreeParse)
export(TwitterSource)
importFrom(XML, newXMLNamespace)
S3method(getElem, WebXMLSource)
S3method(eoi, WebXMLSource)
export(trimWhiteSpaces)
