export(extractContent)
importFrom(XML, htmlTreeParse)
importFrom(XML, toString.XMLNode)
importFrom(XML, xmlChildren)
importFrom(XML, xmlValue)
export(extractHTMLStrip)
export(extractContentDOM)
importFrom(XML, addAttributes)
importFrom(XML, xmlApply)
importFrom(XML, xpathSApply)
export(removeTags)
importFrom(XML, getNodeSet)
importFrom(XML, removeNodes)
export(feedquery)
importFrom(RCurl, curlEscape)
export(getURLPart)
importFrom(RCurl, getURL)
export(readWeb)
export(readWebXML)
importFrom(XML, xmlInternalTreeParse)
importFrom(XML, free)
export(readWebHTML)
export(readWebJSON)
export(json_content)
export(readNYTimes)
export(readTwitter)
export(readGoogleFinance)
export(readYahooFinance)
export(readGoogleBlogSearch)
export(readYahooInplay)
export(readBing)
export(WebSource)
export(GoogleFinanceSource)
export(YahooFinanceSource)
export(GoogleBlogSearchSource)
export(TwitterSource)
export(BingSource)
importFrom(XML, newXMLNamespace)
export(NYTimesSource)
importFrom(RJSONIO, fromJSON)
export(YahooInplaySource)
S3method(getElem, WebXMLSource)
S3method(getElem, WebHTMLSource)
S3method(getElem, WebJSONSource)
S3method(eoi, WebXMLSource)
S3method(eoi, WebHTMLSource)
S3method(eoi, WebJSONSource)
export(trimWhiteSpaces)
