importFrom(XML, newXMLNode)
importFrom(XML, newXMLTextNode)
export(addXMLNode)
export(listtoxml)
importFrom(XML, saveXML)
export(writeWebCorpus)
export(extractContent)
importFrom(XML, htmlTreeParse)
importFrom(XML, toString.XMLNode)
importFrom(XML, xmlChildren)
importFrom(XML, xmlValue)
export(extractHTMLStrip)
export(extractContentDOM)
importFrom(XML, addAttributes)
importFrom(XML, xmlApply)
importFrom(XML, xpathSApply)
export(removeTags)
importFrom(XML, getNodeSet)
importFrom(XML, removeNodes)
export(feedquery)
importFrom(RCurl, curlEscape)
export(getCorpus)
export(getFeed)
export(getFeed.XML)
importFrom(XML, xmlTreeParse)
importFrom(XML, xmlDoc)
export(getFeed.ATOM)
export(getFeed.RSS)
export(getFeed.JSON)
importFrom(RCurl, getURL)
export(getFeed.CSV)
export(getMeta.yahooFinance)
export(getMeta.googleFinance)
export(getMeta.googleBlogSearch)
export(getMeta.bing)
export(getMeta.yahooBOSS)
importFrom(XML, xmlGetAttr)
export(getMeta.spotlight)
export(getMeta.nytimes.articlesearch)
export(getMeta.twitter)
export(getURLPart)
export(removePunctuationExcept)
export(getSources)
export(ListSource)
S3method(getElem, ListSource)
importFrom(tm, getElem)
S3method(pGetElem, ListSource)
importFrom(tm, pGetElem)
S3method(eoi, ListSource)
importFrom(tm, eoi)
export(trimWhiteSpaces)
