export(addNeg_Refs_Per_Ref)
export(addPolarity)
export(addPos_Refs_Per_Ref)
export(addSenti_Diffs_Per_Ref)
export(addSentiment)
export(addSentimentVo)
export(addSentVol)
export(addSubjectivity)
export(chartSent)
export(chartSentiment)
export(getRelevant)
export(has.Neg_Refs_Per_Ref)
export(has.Polarity)
export(has.Pos_Refs_Per_Ref)
export(has.Senti_Diffs_Per_Ref)
export(has.SentVol)
export(has.Subj)
export(metaXTS)
export(neg_refs_per_ref)
export(Neg_Refs_Per_Ref)
export(negterms_GI)
export(polarity)
export(Polarity)
export(pos_refs_per_ref)
export(Pos_Refs_Per_Ref)
export(posterms_GI)
export(preprocessCorpus)
export(score)
export(senti_diffs_per_ref)
export(Senti_Diffs_Per_Ref)
export(SentVol)
export(Subj)
export(subjectivity)
importFrom(slam,col_sums)
S3method(getField,VCorpus)
S3method(neg_refs_per_ref,DocumentTermMatrix)
S3method(neg_refs_per_ref,TermDocumentMatrix)
S3method(polarity,DocumentTermMatrix)
S3method(polarity,TermDocumentMatrix)
S3method(pos_refs_per_ref,DocumentTermMatrix)
S3method(pos_refs_per_ref,TermDocumentMatrix)
S3method(senti_diffs_per_ref,DocumentTermMatrix)
S3method(senti_diffs_per_ref,TermDocumentMatrix)
S3method(setField,VCorpus)
