export(addSubjectivity, addPolarity, addPos_Refs_Per_Ref, addNeg_Refs_Per_Ref, addSenti_Diffs_Per_Ref, addSentVol)
export(addSentiment)
export(addSentimentVo)
export(chartSent)
export(chartSentiment)
S3method(getField, VCorpus)
S3method(setField, VCorpus)
export(getRelevant)
export(metaXTS)
importFrom(slam, col_sums)
export(Subj, has.Subj, Polarity, has.Polarity, Pos_Refs_Per_Ref, has.Pos_Refs_Per_Ref, Neg_Refs_Per_Ref, has.Neg_Refs_Per_Ref, Senti_Diffs_Per_Ref, has.Senti_Diffs_Per_Ref, SentVol, has.SentVol)
export(preprocessCorpus)
export(score)
S3method(polarity, TermDocumentMatrix)
S3method(polarity, DocumentTermMatrix)
export(polarity)
export(subjectivity)
S3method(pos_refs_per_ref, TermDocumentMatrix)
S3method(pos_refs_per_ref, DocumentTermMatrix)
export(pos_refs_per_ref)
S3method(neg_refs_per_ref, TermDocumentMatrix)
S3method(neg_refs_per_ref, DocumentTermMatrix)
export(neg_refs_per_ref)
S3method(senti_diffs_per_ref, TermDocumentMatrix)
S3method(senti_diffs_per_ref, DocumentTermMatrix)
export(senti_diffs_per_ref)
export(posterms_GI)
export(negterms_GI)
